save-exact=true
ignore-scripts=true
fund=false
audit=true
legacy-peer-deps=true
minimum-release-age=1440
trust-policy=no-downgrade
trust-policy-ignore-after=129600
block-exotic-subdeps=true
engine-strict=true
